<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Taxdoo_Booking_UI_Automation">
    <test name = "Booking_Testing">
        <classes>
            <class name = "com.taxdoo.booking.scenarios.TaxDooBookingTest"/>
         </classes>
    </test>
</suite>